@import '../main';

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 1000px;
    
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: rgba($color: $dark-gray, $alpha: 0.5);
    }

    input[type="text"], textarea[type="text"]{
        // font-family: 'Roboto Mono', monospace;
        font-size:16px;
    }

    input, textarea {
        font-family: 'Spartan', sans-serif;
        background: none;
        border: none;
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
        color: $dark-gray;

        // background: $light-gray;
        background: rgba($color: $dark-gray, $alpha: 0.05);
        // border: 1px solid $dark-gray;

        width: 100%;
    }

    &__header {
        margin-bottom: 2rem;

        h1 {
            // font-family: 'Space Mono', monospace;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }

    &__desc {
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-gap: 1.5rem;

        width: 100%;
    }   

    &__name {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__email {

    }

    &__phone {

    }

    &__subject {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__message {
        grid-column-start: 1;
        grid-column-end: 3;

        textarea {
            min-height: 25vh;
        }
    }

    .btn {
        &:hover {
            background: rgba($color: $dark-gray, $alpha: 0.1);
        }
    }
}
