@import '../main';

.header {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    position: relative;

    width: 100%;
    overflow: hidden;

    color: white;
    background: $dark-gray;
    text-align: center;
    
    &__vid, &__img {
    
        position: absolute;
    
        min-width: 100%;
        // max-width: 100%;
        height: 100%;
    
        opacity: 0.8;
        // top: 0;
    }
    
    &__content {
        z-index: 2;
        position: absolute;
        top: 40%;
        width: 80%;
    }
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-size: 4.5rem;
            font-weight: 700;
            
            text-transform: uppercase;
            // word-wrap: break-word;
            
            line-height: 0.8;
            letter-spacing: -0.5rem;
            margin: 10px;
        }
    
        &__subtitle {
            line-height: 2;
            font-size: 1rem;
            letter-spacing: 0.2rem;
        }

    .scroll-down {
        position: absolute;
        font-size: 3rem;
        bottom: 60px;
        cursor: pointer;

        -webkit-animation: hover 0.8s infinite linear alternate-reverse; /* Safari 4+ */
        -moz-animation:    hover 0.8s infinite linear alternate-reverse; /* Fx 5+ */
        -o-animation:      hover 0.8s infinite linear alternate-reverse; /* Opera 12+ */
        animation:         hover 0.8s infinite linear alternate-reverse; /* IE 10+, Fx 29+ */

        // animation-play-state: paused; 
        // &:hover {
        //     animation-play-state: running; 
        // }
    }
}
