@import '../main';

.header {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    position: relative;

    width: 100%;
    overflow: hidden;

    color: white;
    background: $dark-gray;
    text-align: center;
    
    &__vid, &__img {
    
        position: absolute;
    
        min-width: 100%;
        // max-width: 100%;
        min-height: 100%;
    
        opacity: 0.8;
        // top: 0;
    }
    
    &__text {
        z-index: 2;
        position: absolute;
        top: 40%;
        width: 100%;
    }
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-size: 4.5rem;
            font-weight: 700;
            
            text-transform: uppercase;
            // word-wrap: break-word;
            
            line-height: 0.8;
            letter-spacing: -0.5rem;
            margin: 10px;
        }
    
        &__subtitle {
            line-height: 2;
            font-size: 1rem;
            letter-spacing: 0.2rem;
        }

        &__scroll-down {
            
        }
}
