@import '../main';

:host {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    cursor: pointer;

    .news {
        display: flex;
        justify-content: center;
        align-content: center;
        
        position: relative;
        overflow: hidden;
    
        padding: 20px;
    
        border-radius: 10px;
        height: 250px;
        // width: 300px;
    
        color: white;
        background: $dark-gray;
        margin-bottom: 20px;

        &:hover {
            .news__img {
                img {
                    transform: scale(1.05);
                }
            }
        }


        @include img-wrap;
        &__img-wrap {
            position: absolute;
            
            opacity: 0.8;
            align-self: center;

        }
            &__img {
                img {
                    transition: transform 0.5s;
                    width: 100%;
                    min-width: 500px;    
                    min-height: 100%;
                }
            }

        
        // &__text {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;

        //     width: 100%;
        //     height: 100%;

        //     z-index: 2;
            
        // }
            &__title {
                font-family: 'Montserrat', sans-serif;
                font-size: 2rem;
                z-index: 2;
                left: 0;
                margin-right: auto;
                align-self: flex-end;
            }

            &__desc {
                font-size: 0.8rem;
            }
        }

}
