about-view {
    $shared-width: 850px;

    .section__container {
        // margin-bottom: 60px;
        flex-direction: column;
        max-width: $shared-width;
    }

    .about {

        @include img-wrap;
        &__img-wrap {

            // width: 50%;
            height: auto;
            min-height: 300px;

            margin-bottom: 50px;
        }
            &__img {
                img {
                    max-width: $shared-width;    
                    min-height: 100%;
                }
            }

            &__desc {
                margin-bottom: 50px;
            }
    }
}