//loadbar Animation
@-moz-keyframes loadbar {
    from { -moz-transform: scaleX(100%); }
    to { -moz-transform: scaleX(1); }
}
@-webkit-keyframes loadbar {
    from { -webkit-transform: scaleX(0); }
    to { -webkit-transform: scaleX(1); }
}
@keyframes loadbar {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}


//slider Animation
@-moz-keyframes slide-left {
    from { -moz-transform: translate(100%); }
    to { -moz-transform: translate(0); }
}
@-webkit-keyframes slide-left {
    from { -webkit-transform: translate(100%); }
    to { -webkit-transform: translate(0); }
}
@keyframes slide-left {
    from {transform: translate(100%);}
    to {transform: translate(0);}
}

@-moz-keyframes slide-right {
    from { -moz-transform: translate(-100%); }
    to { -moz-transform: translate(0); }
}
@-webkit-keyframes slide-right {
    from { -webkit-transform: translate(-100%); }
    to { -webkit-transform: translate(0); }
}
@keyframes slide-right {
    from {transform: translate(-100%);}
    to {transform: translate(0);}
}

//hover Animation
@-moz-keyframes hover {
    from { -moz-transform: translate(0, 0); }
    to { -moz-transform: translate(0, 15px); }
}
@-webkit-keyframes hover {
    from { -webkit-transform: translate(0, 0); }
    to { -webkit-transform: translate(0, 15px); }
}
@keyframes hover {
    from {transform: translate(0, 0);}
    to {transform: translate(0, 15px);}
}