@import 'mixins';
@import 'variables';
@import 'animations';
@import 'icons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:active, &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    line-height: 0.8;
    letter-spacing: -0.2rem;
    margin-bottom: 30px;
}

h2 {
    line-height: 0.8;
    // letter-spacing: -0.2rem;
}

ul {
    list-style-type: none;
}

hr {
    margin: 30px 0;
}

span {
    font-size: 0.8rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    width: 100%;
    
    z-index: 10;
    padding: 20px 40px;

    // background: rgba(0, 0, 0, 0.5);
    transition: background 0.4s ease-out;
}

.btn {
    cursor: pointer;
    display: inline-block;

    padding: 0.8rem 1.5rem;
    // background: darken($dark-gray, 3%);

    // margin: 1rem 0;
    // border: 1px solid white !important; 

    transition: all 0.3s;
    text-transform: uppercase;

    &--active, &:hover, &:active {
        color: $dark-gray;
        background: white;

        &:hover {
            background: white;
        }
    }
}

.section {
    @include flex-center();
    flex-direction: column;
    width: 100%;

    padding: 60px 20px;
    padding-bottom: 100px;

    &__container {
        width: 100%;
        max-width: 1400px;
    }
        &--dark {
            background: $dark-gray;
            color: $light-gray;
        }
        &__news {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // grid-auto-rows: 300px;
            grid-gap: 1rem;
        }
        &__merch {
            display: flex;
            flex-wrap: wrap;

            .section__text {

                padding-left: 60px;
                max-width: 550px;

                a {
                    color: $dark-terracotta;
                }
            }
        }
}

// @import 'mobile';