
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,900|Raleway|Spartan&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'mixins';
@import 'variables';
@import 'animations';

@import 'components/page-header';
@import 'components/home';
    @import 'components/news';
    @import 'components/lineup';
    @import 'components/slider';
    @import 'components/map';
    @import 'components/contact';
@import 'components/about';
@import 'components/timeline';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, input {
    font-family: 'Spartan', sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    
    background: $light-gray;
    color: $dark-gray;
}

a {
    color: white;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:active, &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    line-height: 0.8;
    letter-spacing: -0.2rem;
    margin-bottom: 30px;
}

h2 {
    line-height: 0.8;
    // letter-spacing: -0.2rem;
}

ul {
    list-style-type: none;
}

hr {
    margin: 30px 0;
}

span {
    font-size: 0.8rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    width: 100%;
    
    z-index: 10;
    padding: 20px 40px;

    // background: rgba(0, 0, 0, 0.5);
    transition: background 0.4s ease-out;
}

.btn {
    cursor: pointer;
    display: inline-block;

    padding: 0.8rem 1.5rem;
    // background: darken($dark-gray, 3%);

    // margin: 1rem 0;
    // border: 1px solid white !important; 

    transition: all 0.3s;
    text-transform: uppercase;

    &--active, &:hover, &:active {
        color: $dark-gray;
        background: white;

        &:hover {
            background: white;
        }
    }
}

.navbar {

    &__logo {
        max-width: 200px;
        position: relative;

        transition: max-width 0.2s ease-out;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
    }
        &__btn {
            // font-weight: 700;
            display: flex;
            position: relative;

            font-size: 1.4rem;
            padding: 5px 10px;
            margin: 0 15px;
            text-transform: uppercase;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                bottom: 0;
                left: 0;
                height: 2px;
                background: white;

                transition: width 0.6s;
            }

            &:hover{
                &::after {
                    content: '';
                    width: 100%;
                }
            }
        }

    &--dark {
        background: rgba(31, 31, 31, 0.8);

        .navbar__logo {
            max-width: 120px;
        }
    }
}

.section {
    @include flex-center();
    flex-direction: column;
 
    width: 100%;

    padding: 60px 20px;
    padding-bottom: 100px;

    &__container {
        width: 80%;
    }
        &--dark {
            background: $dark-gray;
            color: $light-gray;
        }
        &__news {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // grid-auto-rows: 300px;
            grid-gap: 1rem;
        }
        &__merch {
            display: flex;
            flex-direction: wrap;

            .section__text {

                padding-left: 60px;
                max-width: 550px;

                a {
                    color: $dark-terracotta;
                }
            }
        }
        
}

.footer {
    @include flex-center();
    color: white;

    padding: 80px 0;
    // margin-top: 80px;

    background: darken($dark-gray, 4%);

    &__container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__social {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            i {
                margin: 0 2px;
                transition: transform 0.2s;
                // opacity: 0.6;
    
                &:hover {
                    // font-size: 2.5rem;
                    // opacity: 1;
                    transform: scale(1.2);
                }
            }

            &__title {
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
}